{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% macro breadCrumb(pageTitle, breadCrumbList, displayCurrentPageTitle=true) %}

  {% set rows = [ {
    text: "Home",
    href: '/'
    } ]
  %}

  {% for item in breadCrumbList %}
    {% set attributes = {} %}
    
    {% if item.target %}
      {% set attributes = { "target": item.target } %}
    {% endif %}

    {% set rows = (rows.push(
      {
        text: item.title,
        href: item.href,
        attributes: attributes
      }
    ), rows) %}
  {% endfor %}

  {% if displayCurrentPageTitle %}
    {% set completedRows = (rows.push(
      {
        text: pageTitle
      }
    ), rows) %}
  {% else %}
    {% set completedRows = rows %}
  {% endif %}

{{ govukBreadcrumbs({
  collapseOnMobile: true,
  items: completedRows,
  classes: "govuk-width-container govuk-!-display-none-print govuk-!-margin-top-6",
  attributes: { 'data-sentry-mask': true }
}) }}

{% endmacro %}
