{% extends "./template.njk" %}

{% block head %}
  <link href="/assets/stylesheets/application.css?{{ version }}" rel="stylesheet"/>
  
  <script src="/assets/js/jquery.min.js"></script> 
{% endblock %}

{% block pageTitle %}{{pageTitle | default(applicationName)}}{% endblock %}

{% block header %}
  {% include "./header.njk" %}
{% endblock %}

{% block bodyStart %}
{% endblock %}

{% set homepage = false %}

{% block bodyEnd %}
  {% include "../sentryScript.njk" %}

  <script type="module" src="/assets/js/govukFrontendInit.js"></script>
  <script src="/assets/js/all.js"></script>
  <script src="/assets/js/mojFrontendInit.js"></script>
{% endblock %}
