{% from "../../image-card/index.njk" import imageCard %}

{% macro visitsPanel(nextVisit, readMoreUrl, isSocialVisitorsEnabled) %}
<div class="card-background grey">
  <div class="govuk-width-container" data-test="visits-container">
    <h2 class="govuk-heading-m">Visits</h2>
    
    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-quarter card-group__item">
        <div class="card card__content">
          <h3 class="govuk-heading-m card__heading">Next visit</h3>
          <div class="govuk-body card__description">
            {% if nextVisit %}
              <p><strong>{{ nextVisit.date }}</strong><br/>{{ nextVisit.startTime }} to {{ nextVisit.endTime }}</p>
              <p>{{ nextVisit.visitType }}</p>
            {% else %}
              <p>No upcoming visits</p>
            {% endif %}
          </div>
        </div>
      </li>

      {% if isSocialVisitorsEnabled %}
      <li class="govuk-grid-column-one-quarter card-group__item">
        {{ imageCard({ id: 'visitsLink', src: "/assets/images/visits.jpg", link: "/visits", description: "View social visitors" }) }}
      </li>
      {% endif %}
    </ul>

    <a href='{{ readMoreUrl }}' rel="noreferrer noopener" target="_blank" class="govuk-!-font-size-24 card-title govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" data-test="visitsLink">
      <span>More about visits</span>
    </a>
  </div>
</div>
{% endmacro %} 
