PORT=3000
TOKEN_VERIFICATION_ENABLED=true
NODE_ENV=development
REFRESH_CHECK_TIMEOUT_IN_MINUTES=1
AUDIT_ENABLED=false

# External Urls
INGRESS_URL='https://launchpad-home-dev.hmpps.service.justice.gov.uk'
HMPPS_AUTH_URL='https://sign-in-dev.hmpps.service.justice.gov.uk/auth'
NOMIS_AUTH_URL='https://sign-in-dev.hmpps.service.justice.gov.uk/auth'
TOKEN_VERIFICATION_API_URL='https://token-verification-api-dev.prison.service.justice.gov.uk'
PRISON_API_URL='https://prison-api-dev.prison.service.justice.gov.uk'
INCENTIVES_API_URL='https://incentives-api-dev.hmpps.service.justice.gov.uk'
PRISONER_CONTACT_REGISTRY_API_URL='https://prisoner-contact-registry-dev.prison.service.justice.gov.uk'
ADJUDICATIONS_API_URL='https://manage-adjudications-api-dev.hmpps.service.justice.gov.uk'
LOCATION_API_URL='https://locations-inside-prison-api-dev.hmpps.service.justice.gov.uk'
NOMIS_MAPPING_API_URL='https://nomis-sync-prisoner-mapping-dev.hmpps.service.justice.gov.uk'
LAUNCHPAD_AUTH_URL='https://launchpad-auth-dev.hmpps.service.justice.gov.uk'
MANAGE_APPS_UI_URL='https://prisoner-apps-dev.hmpps.service.justice.gov.uk'

# Client secrets
LAUNCHPAD_API_CLIENT_ID=<Copied from hmpps-launchpad-home-ui kubernetes secret>
LAUNCHPAD_API_CLIENT_SECRET=<Copied from hmpps-launchpad-home-ui kubernetes secret>

SYSTEM_CLIENT_ID=<Copied from hmpps-launchpad-home-ui kubernetes secret>
SYSTEM_CLIENT_SECRET=<Copied from hmpps-launchpad-home-ui kubernetes secret>

SESSION_SECRET=<Copied from hmpps-launchpad-home-ui kubernetes secret>
SENTRY_DSN=<Copied from hmpps-launchpad-home-ui kubernetes secret>