PORT=3000
TOKEN_VERIFICATION_ENABLED=true
NODE_ENV=development
REFRESH_CHECK_TIMEOUT_IN_MINUTES=1
AUDIT_ENABLED=false

# External Urls
INGRESS_URL=<Copied from values.yaml files found in /helm_deploy> 
HMPPS_AUTH_URL=<Copied from values.yaml files found in /helm_deploy> 
NOMIS_AUTH_URL=<Copied from values.yaml files found in /helm_deploy> 
TOKEN_VERIFICATION_API_URL=<Copied from values.yaml files found in /helm_deploy> 
PRISON_API_URL=<Copied from values.yaml files found in /helm_deploy> 
INCENTIVES_API_URL=<Copied from values.yaml files found in /helm_deploy> 
PRISONER_CONTACT_REGISTRY_API_URL=<Copied from values.yaml files found in /helm_deploy> 
ADJUDICATIONS_API_URL=<Copied from values.yaml files found in /helm_deploy> 
LOCATION_API_URL=<Copied from values.yaml files found in /helm_deploy> 
NOMIS_MAPPING_API_URL=<Copied from values.yaml files found in /helm_deploy> 
LAUNCHPAD_AUTH_URL=<Copied from values.yaml files found in /helm_deploy> 
MANAGE_APPS_API_URL=<Copied from values.yaml files found in /helm_deploy> 
MANAGE_APPS_UI_URL=<Copied from values.yaml files found in /helm_deploy> 

# Client secrets
LAUNCHPAD_API_CLIENT_ID=<Copied from hmpps-launchpad-home-ui kubernetes secret>
LAUNCHPAD_API_CLIENT_SECRET=<Copied from hmpps-launchpad-home-ui kubernetes secret>

SYSTEM_CLIENT_ID=<Copied from hmpps-launchpad-home-ui kubernetes secret>
SYSTEM_CLIENT_SECRET=<Copied from hmpps-launchpad-home-ui kubernetes secret>

SESSION_SECRET=<Copied from hmpps-launchpad-home-ui kubernetes secret>
SENTRY_DSN=<Copied from hmpps-launchpad-home-ui kubernetes secret>