{% macro eventsSummary(params, user) %}
  <div class="events-summary govuk-!-padding-4">
    
    <h2 class="govuk-heading-s">{% if params.isTomorrow %}Tomorrow{% else %}Today{% endif %}'s events</h2>

    <div class="govuk-!-padding-bottom-2">
      {% if params.error %}
        <span data-test="event-error" class="govuk-!-font-size-24">
          {{ params.error }}, <a href="{{ params.authReturnUrl }}" class="govuk-link">try again</a>
        </span>
      {% elif not params.events | length %}
          <span data-test="no-events">You have no events today</span>
      {% else %}
        {% for event in params.events %}
          <div class="event-details govuk-!-margin-bottom-2" data-test='event-detail-{{loop.index}}'>
            <div class="time">{{event.timeString}}</div>
            <div class="description"><strong>{{event.description}}</strong> {{event.location}}</div>
          </div> 
        {% endfor %}
      {% endif %}
    </div>

    <a href="/timetable" class="govuk-link" id="view-timetable-link">View my timetable</a>

  </div>
{% endmacro %}
