{% macro basicCard(params) %}
  <div class="card card__content"  data-test="{{ params.id }}">
    {%- if params.heading %}
      <h3 class="govuk-heading-m card__heading">{{params.heading}}</h3>
    {%- endif %}
    <p class="govuk-body card__description" data-hj-suppress data-test="basicCardContent">{{params.content}}</p>
  </div>
{% endmacro %}


