{% if isProduction %}
  <script
    nonce="{{ cspNonce }}" 
    src="https://js.sentry-cdn.com/f36188d0543b13fa07be85212df8e953.min.js"
    crossorigin="anonymous"
  ></script>
  <script nonce="{{ cspNonce }}">
    Sentry.onLoad(function() {
      Sentry.init({
        integrations: [
          Sentry.replayIntegration({
            maskAllText: false
          }),
        ],
        replaysSessionSampleRate: 0.1,
        replaysOnErrorSampleRate: 1.0,
      });
    });
  </script>
{% endif %}
