{% macro timetablePeriodSelector(params, t) %}
    <nav class="timetable-nav" >
        {% if params.lastWeek %}
            <span>{{ t('timetable.lastWeek') }}</span>
        {% else %}
            <a href="/timetable/last-week" class="govuk-link">{{ t('timetable.lastWeek') }}</a>
        {% endif %}
        {% if not params.lastWeek and not params.nextWeek %}
            <span>{{ t('timetable.thisWeek') }}</span>
        {% else %}
            <a href="/timetable" class="govuk-link">{{ t('timetable.thisWeek') }}</a>
        {% endif %}
        {% if params.nextWeek %}
            <span>{{ t('timetable.nextWeek') }}</span>
        {% else %}
            <a href="/timetable/next-week" class="govuk-link">{{ t('timetable.nextWeek') }}</a>
        {% endif %}
    </nav>
{% endmacro %}
