{% macro card(params) %}
  <div class="card card__content"  data-test="{{ params.id }}">
    {%- if params.heading %}
      <h3 class="govuk-heading-m card__heading">
        {{ params.heading }}
      </h3>
    {%- endif %}
    <p class="govuk-body card__description" data-hj-suppress>
        {% for event in events %}
            <div class="govuk-!-padding-bottom-4">
                <strong>{{event.description}}</strong><br/>
                {{event.startTime }} to {{event.endTime }}<br/>
                {{event.location}}
            </div>
        {% else %}
            <strong data-test="no-activities">No activities</strong>
        {% endfor %}
    </p>
  </div>
{% endmacro %}


