$govuk-global-styles: true;
$path: "/assets/images/";

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import 'govuk/all';
@import 'moj/all';

@import './components/header-bar';
@import './components/events-summary';
@import './components/tiles-panel';
@import './components/link-tile';
@import './components/internal-link-tile';
@import './components/timetable';
@import './components/timetable-day-row';

@import './pages/homepage';
@import './pages/settings';

@import './local';
