$govuk-global-styles: true;
$path: '/assets/images/';

$moj-page-width: 1170px;
$govuk-page-width: $moj-page-width;

@import "node_modules/govuk-frontend/dist/govuk/index";
@import "node_modules/@ministryofjustice/frontend/moj/all";
@import 'node_modules/@ministryofjustice/hmpps-prisoner-facing-components/dist/assets/scss/all';

@import './components/events-summary';
@import './components/tiles-panel';
@import './components/link-tile';
@import './components/internal-link-tile';
@import './components/timetable';
@import './components/timetable-day-row';
@import './components/card';
@import './components/transactions';

@import './pages/homepage';
@import './pages/settings';

@import './local';
