.govuk-main-wrapper {
  min-height: 600px;
}

@media only screen and (orientation: landscape) {
  .govuk-main-wrapper.hidden-tiles {
    min-height: 0 !important;
  }
}

.container-background-black {
  background-color: govuk-colour('black');
}

.hidden {
  display: none;
}
