.govuk-main-wrapper {
  min-height: 600px;
}

.container-background-black {
  background-color: govuk-colour('black');
}

.hidden {
  display: none;
}

.govuk-table__cell--valign-middle {
  vertical-align: middle;
}
