{% from "../timetable-day-block/index.njk" import timetableDayBlock %}

{% macro timetableDayRow(params) %}
    <div class="govuk-width-container govuk-body timetable-day">
    {% if params.data.error %}
        <p class="govuk-!-font-size-24">
            {{params.data.error}}, <a href="{{ params.authReturnUrl }}" class="govuk-link">try again</a>
        </p>
    {% else %}
        {% for day, event in params.data %} 
            <h3 class="govuk-!-margin-bottom-3" data-test="date">{{event.title}}</h3>
            <div class="timetable-day-blocks" data-test="{{event.title}}">
                {{ timetableDayBlock(event.morning, params.data.hasEvents, '8.30am to 12.00pm') }}
                {{ timetableDayBlock(event.afternoon, params.data.hasEvents, '12.00pm to 5.00pm') }}
                {{ timetableDayBlock(event.evening, params.data.hasEvents, '5.00pm to 7.30pm') }}
            </div>
        {% endfor %}
    {% endif %}
    </div>
{% endmacro %}
