.internal-link-tile {
    background-color: govuk-colour("blue");
    padding-bottom: govuk-spacing(4);
    border: solid 1px #D9DADB;

    &:hover,
    &:focus-within {
        border: solid 1px govuk-colour("mid-grey")
    }

    a {
        padding: govuk-spacing(4) govuk-spacing(4) govuk-spacing(0) govuk-spacing(4);
        display: block;
        min-height: 100%;
        text-decoration: none;
        box-shadow: 0 -5px 0 0 #D9DADB inset;

        &:hover {
            background-color: govuk-colour("dark-blue");
            box-shadow: 0 -5px 0 0 govuk-colour("mid-grey") inset;
        }

        &:focus {
            background-color: govuk-colour("yellow");
            box-shadow: 0 -5px 0 0 govuk-colour("mid-grey") inset;

            p,
            h2 {
                color: govuk-colour("black");
            }
        }

        p,
        h2 {
            color: govuk-colour("white");
        }
    }
}
