.tiles-panel {
  padding: govuk-spacing(8) 0;
  
  h2 {
    color: govuk-colour("white");
    margin-top: 0;
  }

  div {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    column-gap: 1.05%;
    row-gap: .5em;
  }
}
