{% from "../../image-card/index.njk" import imageCard %}

{% macro adjudicationsPanel(readMoreUrl, t) %}
<div class="card-background">
  <div class="govuk-width-container" data-test="adjudications-container">
    <h2 class="govuk-heading-m">{{ t('profile.adjudications.adjudications') }} </h2>
    
    <ul class="govuk-grid-row card-group">
      <li class="govuk-grid-column-one-quarter card-group__item">
        {{imageCard({ id: 'adjudications', src: "/assets/images/image_adjudications.jpg", link: '/adjudications', description: t('profile.adjudications.viewAdjudications') }) }}
      </li>
    </ul>
    
    <a href='{{ readMoreUrl }}' rel="noreferrer noopener" target="_blank" class="govuk-!-font-size-24 card-title govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" data-test="adjudicationsLink">
      <span>{{ t('profile.adjudications.moreAboutAdjudications') }}</span>
    </a>
  </div>
</div>
{% endmacro %} 
