{% macro transactionsHelp(t) %}
  <details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
      <span class="govuk-details__summary-text">{{ t('transactions.help') }}</span>
    </summary>

    <div class="govuk-details__text">
      <p class="govuk-body">{{ t('transactions.helpOptions.forMoreHelp') }}</p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          <a
            href="/external/transactions-help"
            class="govuk-link"
            rel="noreferrer noopener"
            target="_blank">
            {{ t('transactions.helpOptions.readMore') }}
          </a>
        </li>
        <li>{{ t('transactions.helpOptions.application') }}</li>
        <li>{{ t('transactions.helpOptions.askStaff') }}</li>
      </ul>
    </div>
  </details>
{% endmacro %}
