{% from "govuk/components/table/macro.njk" import govukTable %}

{% macro damageObligationsTable(balance, damageObligations) %}
<div class="govuk-tabs__panel">
  <div class="transaction__balances">
    <h2 class="govuk-heading-l govuk-!-margin-bottom-1">You currently owe</h2>
    <p class="govuk-body govuk-!-margin-top-5">£{{ balance }}</p>
  </div>

  <div class="damage-obligations">
    {{ govukTable({ head: damageObligations.head, rows: damageObligations.rows }) }}
  </div>
</div>
{% endmacro %}
