---
# Per environment values which override defaults in hmpps-launchpad-home-ui/values.yaml

generic-service:
  replicaCount: 2

  ingress:
    host: launchpad-home-preprod.hmpps.service.justice.gov.uk

  scheduledDowntime:
    enabled: true

  env:
    INGRESS_URL: 'https://launchpad-home-preprod.hmpps.service.justice.gov.uk'
    HMPPS_AUTH_URL: 'https://sign-in-preprod.hmpps.service.justice.gov.uk/auth'
    NOMIS_AUTH_URL: 'https://sign-in-preprod.hmpps.service.justice.gov.uk/auth'
    TOKEN_VERIFICATION_API_URL: 'https://token-verification-api-preprod.prison.service.justice.gov.uk'
    PRISON_API_URL: 'https://prison-api-preprod.prison.service.justice.gov.uk'
    INCENTIVES_API_URL: 'https://incentives-api-preprod.hmpps.service.justice.gov.uk'
    PRISONER_CONTACT_REGISTRY_API_URL: 'https://prisoner-contact-registry-preprod.prison.service.justice.gov.uk'
    ADJUDICATIONS_API_URL: 'https://manage-adjudications-api-preprod.hmpps.service.justice.gov.uk'
    LOCATION_API_URL: 'https://locations-inside-prison-api-preprod.hmpps.service.justice.gov.uk'
    NOMIS_MAPPING_API_URL: 'https://nomis-sync-prisoner-mapping-preprod.hmpps.service.justice.gov.uk'
    LAUNCHPAD_AUTH_URL: 'https://launchpad-auth-preprod.hmpps.service.justice.gov.uk'
    GA4_SITE_ID: 'G-4VW039LBEF'
    ENVIRONMENT_NAME: PREPROD
    AUDIT_ENABLED: 'true'

generic-prometheus-alerts:
  alertSeverity: hmpps-launchpad-nonprod
