{% from "govuk/components/pagination/macro.njk" import govukPagination %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/adjudications/hearing/macro.njk" import adjudicationHearing %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% set breadCrumbList = [{ href: '/profile', title: givenName + "'\s Profile"}, {href: '/adjudications', title: 'Adjudications'}] %}
  {{ breadCrumb('Adjudications', breadCrumbList, false) }}
{% endblock %}

{% block title %}
  <div class="govuk-width-container govuk-body hub-header timetable-header" id="main-content" data-test="main-content">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0" id="title">{{ title }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container">
    {% if error %}
      <p class="govuk-body govuk-!-font-size-24 govuk-!-margin-bottom-9" data-test="approved-visitors-error">We can not list your adjudication at this time, please <a href="{{ params.returnUrl }}" class="govuk-link">try again</a> or <a href="{{ data.adjudicationsReadMoreURL }}" class="govuk-link">read more about adjudications</a>.</p>
    {% else %}  
      <div class="govuk-!-margin-bottom-7">
        <a href="{{ data.adjudicationsReadMoreURL }}" class="govuk-link govuk-!-font-size-24">More about adjudications</a>
      </div>  

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
          {{ govukSummaryList({
          classes: 'govuk-summary-list--no-border',
          rows: [
              {
              key: {
                  text: "Governor's report number"
              },
              value: {
                  text: data.adjudication.chargeNumber
              }
              },
              {
              key: {
                  text: "When"
              },
              value: {
                  text: data.adjudication.incidentDetails.dateTimeOfIncident
              }
              },
              {
              key: {
                  text: "Where"
              },
              value: {
                  text: data.adjudication.location
              }
              },
              {
              key: {
                  text: "Reported by"
              },
              value: {
                  text: data.adjudication.reportedBy
              }
              },
              {
              key: {
                  text: "Report date and time"
              },
              value: {
                  text: data.adjudication.incidentDetails.dateTimeOfDiscovery
              }
              },
              {
              key: {
                  text: "What happened"
              },
              value: {
                  text: data.adjudication.incidentStatement.statement
              }
              }
          ]
          }) }}
        </div>
      </div>

      <div class="govuk-grid-row">
        {% if data.adjudication.hearings %}
          <div class="govuk-grid-column-full">
            {% for hearing in data.adjudication.hearings %}
              {{ adjudicationHearing(hearing) }}
            {% endfor %}
          </div>
        {% endif %}  
      </div>
    {% endif %}
  </div>
{% endblock%}

