{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

  <h1 class="govuk-heading-l">{{ heading }}</h1>

  <p class="govuk-body" data-test="subheading">
    {{ subheading }}
  </p>

  {{ govukButton({
    classes: "govuk-!-margin-top-5",
    text: buttonText,
    href: '/',
    attributes: { "data-test": buttonAttribute },
    preventDoubleClick: true
  }) }}

  {% if stack %}
    <p>{{ errorMessage }}
    <pre>{{ stack }}</pre>
  {% endif %}

{% endblock %}
