{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% set pageTitle = applicationName + " - Error" %}
{% set mainClasses = "app-container govuk-body" %}

{% block content %}

 <h1 class="govuk-heading-l">
    Something went wrong
  </h1>
  <p class="govuk-body" data-test="subheading">
    There was a problem loading the page.
  </p>

  {{ govukButton({
    text: "Go back to homepage",
    href: "/"
  }) }}

  {% if stack %}
    <p>{{ errorMessage }}
    <pre>{{ stack }}</pre>
  {% endif %}

{% endblock %}
