{% extends "../partials/homepage-layout.njk" %}

{% from "components/events-summary/index.njk" import eventsSummary %}
{% from "components/tiles-panel/index.njk" import tilesPanel %}

{% set pageTitle = data.title + " - " + applicationName %}
{% set mainClasses = "govuk-body govuk-!-margin-bottom-0 govuk-!-padding-bottom-0" %}
{% if data.hideHomepageEventsSummaryAndProfileLinkTile %}
  {% set mainClasses = mainClasses + " hidden-tiles" %}
{% endif %}    

{% block content %}
  <div class="hp-container">
    <section class="govuk-grid-row govuk-width-container">
      <time class="govuk-heading-l">{{ data.today }}</time>
    </section>

    {% if not data.hideEventsSummaryAndProfileLinkTile %}
    <section class="govuk-grid-row govuk-width-container" id="top-row-wrapper">
      <div id="events-summary-wrapper">
        {{ eventsSummary(data.prisonerEventsSummary, data.homepageLinks.prisonerContentHubURL, user, t) }}
      </div>

      <div class="internal-link-tile" id="internal-link-tile-profile">
        <a href="/profile" rel="noreferrer noopener">
          <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">{{ t('homepage.links.profile') }}</h2>
          <p>{{ t('homepage.links.profileDesc') }}</p> 
        </a>
      </div>
    </section>
    {% endif %}

    <div class="container-background-black tiles-panel" data-test="tiles-panel">
      {{ tilesPanel(data.homepageLinks, user) }}
    </div>
  </div>
{% endblock %}
