{% extends "../partials/homepage-layout.njk" %}

{% from "components/events-summary/index.njk" import eventsSummary %}
{% from "components/tiles-panel/index.njk" import tilesPanel %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "govuk-body govuk-!-margin-bottom-0 govuk-!-padding-bottom-0" %}

{% block content %}

  <div>

    <section class="govuk-grid-row govuk-width-container">
      <time class="govuk-heading-l">{{ today }}</time>
    </section>

    <section class="govuk-grid-row govuk-width-container" id="top-row-wrapper">
      <div id="events-summary-wrapper">
        {{ eventsSummary(eventsData, linksData.prisonerContentHubURL, user) }}
      </div>

      <div class="internal-link-tile" id="internal-link-tile-profile">
        <a href="{{linksData.prisonerContentHubURL}}/profile">
          <h2 class="govuk-!-font-size-24 govuk-!-margin-top-0">Profile</h2>
          <p>Check money, visits, IEP, adjudications and timetable</p> 
        </a>
      </div>
    </section>

    <div class="container-background-black tiles-panel" data-test="tiles-panel">
      {{ tilesPanel(linksData, user) }}
    </div>

  </div>

{% endblock %}
