{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/card/index.njk" import card %}
{% from "../components/basic-card/index.njk" import basicCard %}
{% from "../components/image-card/index.njk" import imageCard %}
{% from "../components/profile/transactions/index.njk" import transactionsPanel %}


{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

  {% block beforeContent %}
    {{ breadCrumb('', breadCrumbList, false) }}
  {% endblock %}

{% block content %}

  <div class="govuk-width-container govuk-body govuk-clearfix">  
    <h1>{{givenName}}'s Profile</h1>
  </div>

  <div class="govuk-body">
    <div class="card-background">
      <div class="govuk-width-container" data-test="timetable-container">
        <h2 class="govuk-heading-m">Today's timetable</h2>
        {% if timetableEvents.error %}
          <p class="govuk-!-font-size-24" data-test="timetable-error">We are not able to show your timetable at this time, <a href="{{ params.returnUrl }}" class="govuk-link">try again</a>.</p>
        {% else %}
          <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-quarter card-group__item">
              {{ card({ id: 'morningEvents', heading: 'Morning', events: data.timetableEvents.morning.events }) }}
            </li>

            <li class="govuk-grid-column-one-quarter card-group__item">
              {{ card({ id: 'afternoonEvents', heading: 'Afternoon', events: data.timetableEvents.afternoon.events }) }}
            </li>
            
            <li class="govuk-grid-column-one-quarter card-group__item">
                {{ card({ id: 'eveningEvents', heading: 'Evening', events: data.timetableEvents.evening.events }) }}
            </li>
            
            <li class="govuk-grid-column-one-quarter card-group__item">
              {{ imageCard({ id: 'timetableLink', src: "/assets/images/image_timetable.jpg", link: "/timetable", description: "View my timetable" }) }}
            </li>
          </ul>

          <a href= '{{ data.prisonerContentHubURL }}' data-test="learningSkillsLink" rel="noreferrer noopener" target="_blank" class="govuk-!-font-size-24 card-title govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state">
            <span>Read more about learning and skills</span>
          </a>
        {% endif %}
      </div>
    </div>

    <div class="card-background grey">
      <div class="govuk-width-container" data-test="incentives-container">
        <h2 class="govuk-heading-m">Incentives (IEP)</h2>

        {% if data.incentivesData.error %}
          <p class="govuk-!-font-size-24" data-test="incentives-error">We are not able to show your incentive level at this time. <a href="{{ params.returnUrl }}" class="govuk-link">Try again</a> or <a href="{{ incentivesSummary.link }}" class="govuk-link">find out more about incentive levels</a>.</p>
        {% else %}
          <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-quarter card-group__item">
              {{ basicCard({ id: 'currentLevel', heading: 'My current level:', content: data.incentivesData.iepLevel }) }}
            </li>
          </ul>

          <a href= '{{ data.incentivesReadMoreURL }}' rel="noreferrer noopener" target="_blank" class="govuk-!-font-size-24 card-title govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" data-test="incentivesLink">
            <span>Read more about incentives (IEP)</span>
          </a>
        {% endif %}
      </div>
    </div>

    {% if features.isTransactionsEnabled %}
      {{ transactionsPanel(data.moneyReadMoreURL) }}
    {% endif %}

    {% if features.isVisitsEnabled %}
      <div class="card-background grey">
        <div class="govuk-width-container" data-test="visits-container">
          <h2 class="govuk-heading-m">Visits</h2>
          
          <ul class="govuk-grid-row card-group">
            <li class="govuk-grid-column-one-quarter card-group__item">
              {{ basicCard({ heading: 'Next visit', content: '' }) }}
            </li>

            <li class="govuk-grid-column-one-quarter card-group__item">
              {{ imageCard({ id: 'visitsLink', src: "/assets/images/visits.jpg", link: "/visits", description: "View social visitors" }) }}
            </li>
          </ul>

          <a href= '{{ data.visitsReadMoreURL }}' rel="noreferrer noopener" target="_blank" class="govuk-!-font-size-24 card-title govuk-link govuk-!-font-weight-regular govuk-link--no-visited-state" data-test="visitsLink">
            <span>More about visits</span>
          </a>
        </div>
      </div>
    {% endif %}
  </div>

{% endblock %}
