{% extends "../partials/layout.njk" %}
{% from "govuk/components/button/macro.njk" import govukButton %}

{% block content %}
  <div class="govuk-body govuk-width-container">
    <div>
      <div class="govuk-heading-m">Remove access?</div>
      <div>Are you sure you want to remove the access you gave to Example App?</div>
    </div>
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column">
        <form id="delete-access-form">
          <div id="data-container" data-user-id="{{ data.userId }}" data-client-id="{{ data.clientId }}"></div>
          {{ govukButton({
            text: "Yes",
            id: "delete-access-button",
            attributes: {
              type: "button"
            }
          }) }}
        </form>
      </div>

      <div class="govuk-grid-column">
        {{ govukButton({
          text: "No",
          href: "/settings"
        }) }}
      </div>
    </div>
  </div>
{% endblock %}
