{% extends "../partials/layout.njk" %}

{% from "govuk/components/button/macro.njk" import govukButton %}
{% from "govuk/components/pagination/macro.njk" import govukPagination %}

{% from "../partials/breadCrumb.njk" import breadCrumb %}

{% set pageTitle = title + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {{ breadCrumb('Settings') }}
{% endblock %}

{% block title %}
  <div class="govuk-body govuk-width-container hub-header settings-header">
    <h1 class="govuk-heading-l" id="title">{{ title }}</h1>
    <p class="govuk-!-font-size-24">You’ve given access to these applications (services).<br/>This is where you can take that access away in some cases.</p>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk-frontend-supported">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Access to applications</caption>
      
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Application</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-third">Information you are sharing</th>
          <th scope="col" class="govuk-table__header">Shared on</th>
          <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Status</th>
        </tr>
      </thead>

      <tbody class="govuk-table__body">
        {% for client in data.approvedClients %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell govuk-table__cell--valign-middle govuk-!-margin-top-0 govuk-!-margin-bottom-0">
              <span class="two-column-cell govuk-!-margin-left-0">
                {% if client.logoUri %}
                  <img 
                    src="{{ client.logoUri }}" 
                    max-width="104px"
                    alt="client logo"
                    loading="lazy">
                {% endif %}

                <p class="govuk-!-font-weight-bold">{{ client.name }}</p>
              </span>
            </td>

            <td class="govuk-table__cell govuk-table__cell--valign-middle">
              <ul class="govuk-!-margin-top-0 govuk-!-margin-bottom-0 govuk-!-padding-left-4 ">
                {% for item in client.permissions %}
                  <li>{{ item }}</li>
                {% endfor %}
              </ul>
            </td>

            <td class="govuk-table__cell govuk-table__cell--valign-middle">
              {{ client.accessSharedDate }}
            </td>

            <td class="govuk-table__cell govuk-table__cell--valign-middle">
              {% if client.autoApprove %}
                You share data with {{ client.name }} so it can be displayed on your tablets. You cannot remove access.
              {% else %}
                {{ govukButton({
                  text: "Remove access",
                  classes: "govuk-button--secondary govuk-!-margin-bottom-0",
                  href: "/remove-access?clientId=" + client.id + "&clientLogoUri=" + client.logoUri
                }) }}
              {% endif %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    {% if data.paginationData.totalPages > 1 %}
      <div class="govuk-!-margin-bottom-9">
        {{ govukPagination( data.paginationData | toPagination(data.rawQuery) ) }}
      </div>
    {% endif %}
  </div>
{% endblock %}
