{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/timetable-period-selector/index.njk" import timetablePeriodSelector %}
{% from "../components/timetable-day-row/index.njk" import timetableDayRow %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% set breadCrumbList = [{ href: '/profile', title: 'Profile'}] %}
  {{ breadCrumb('Timetable', breadCrumbList) }}
{% endblock %}

{% block title %}
  <div class="govuk-width-container govuk-body hub-header timetable-header" id="main-content">
    <h1 class="govuk-heading-l" id="title">{{ title }}</h1>
    {{ timetablePeriodSelector({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }) }}
  </div>
{% endblock %}

{% block content %}
  {{ timetableDayRow({ data: events | first, authReturnUrl:  returnUrl }) }}
  <div class="govuk-width-container govuk-body timetable-header timetable-footer">
    {{ timetablePeriodSelector({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }) }}
  </div>
{% endblock %}
