{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadCrumb %}
{% from "../components/timetable-period-selector/index.njk" import timetablePeriodSelector %}
{% from "../components/timetable-day-row/index.njk" import timetableDayRow %}

{% set pageTitle = applicationName + " - Home" %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% set breadCrumbList = [{ href: '/profile', title: user.idToken.given_name ~ "'s Profile"}] %}
  {{ breadCrumb('Timetable', breadCrumbList, false) }}
{% endblock %}

{% block title %}
  <div class="govuk-width-container govuk-body hub-header timetable-header" id="main-content" data-test="main-content">
    <h1 class="govuk-heading-l" id="title">{{ title }}</h1>
    {{ timetablePeriodSelector({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }) }}
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-width-container timetable-day timetable-headings sticky">
    <div data-test="time-of-day">
      {% if params.data.hasEvents %}
        <h4 aria-hidden="true" {% if event.morning.finished %} class="day-block-finished"{% endif %}>Morning</h4>
        <h4 aria-hidden="true" {% if event.afternoon.finished %} class="day-block-finished"{% endif %}>Afternoon</h4>
        <h4 aria-hidden="true" {% if event.evening.finished %} class="day-block-finished"{% endif %}>Evening</h4>
      {% else %}
        <h4 aria-hidden="true">Morning</h4>
        <h4 aria-hidden="true">Afternoon</h4>
        <h4 aria-hidden="true">Evening</h4>
      {% endif %}
    </div>
  </div>
  {{ timetableDayRow({ data: events | first, authReturnUrl:  returnUrl }) }}
  <div class="govuk-width-container govuk-body timetable-header timetable-footer">
    {{ timetablePeriodSelector({ nextWeek: config.nextWeek, lastWeek: config.lastWeek }) }}
  </div>
{% endblock %}
