{% extends "../partials/layout.njk" %}
{% from "../partials/breadCrumb.njk" import breadCrumb %}

{% from "../components/transactions/help.njk" import transactionsHelp %}
{% from "../components/transactions/tabs.njk" import transactionsTabs %}
{% from "../components/transactions/table.njk" import transactionsTable %}


{% set pageTitle = t('transactions.title') + " - " + applicationName %}
{% set mainClasses = "app-container govuk-body" %}

{% block beforeContent %}
  {% set breadCrumbList = [{ href: prisonerContentHubUrl + '/profile', title: user.idToken.given_name ~ "'s Profile"}] %}
  {{ breadCrumb('', breadCrumbList, false) }}
{% endblock %}

{% block title %}
  <div class="govuk-body govuk-width-container hub-header timetable-header" id="main-content">
    <h1 class="govuk-heading-l" id="title">{{ t('transactions.title') }}</h1>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-body govuk-width-container govuk-frontend-supported">
    {{ transactionsHelp(prisonerContentHubUrl, data.contentHubTransactionsHelpLinkUrl, t) }}
    {{ transactionsTabs(data.selectedTab, data.accountTypes, data.hasDamageObligations, t) }}
    {{ transactionsTable(data.balance, data.dateSelectionRange, data.selectedDate, data.transactions, t) }}
  </div>
{% endblock %}
